<form action="/new" id="newPageForm">
PageName: <input type="text" id="pageName"><br>
<select name="template" id="template">
<option value="default" selected=selected>default</option>
<option value="default0">default0</option>
</select>
<input type="button"
onClick="var f = $('#newPageForm'); 
var url='/new/<%- farmName !== "" ? farmName + "~" : "" %>'+$('#pageName').val();
f.attr({action: url});
f.submit(); return false;"
value="Create Page">
</form>