<form action="/new" id="newPageForm">
PageName: <input type="text" id="pageName"><br>
<input type="button" onClick="var f = $('#newPageForm'); f.attr({action: '/new/'+$('#pageName').val()}); f.submit(); return false;" value="Create Page">
</form>